<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/javascript/app.js"></script>
  </head>
  <body>
    <!-- views/index.ejs -->
    <a href="/fruits">Browse Fruits</a>
    <h1 class="big-h1-tags">Welcome to the Fruits app!</h1>
    <p>An app for collecting your favorite fruits.</p>
  </body>
</html>
